# yii console command
/yii

# phpstorm project files


# netbeans project files


# zend studio for eclipse project files

# windows thumbnail cache
Thumbs.db

# composer vendor dir


# composer itself is not needed


# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed

# local phpunit config


# vagrant runtime
